a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(206, 19, 19);
}

.centered-text {
  text-align: center;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

