<head>
  <!-- Yandex.RTB -->
  <script>window.yaContextCb=window.yaContextCb||[]</script>
  <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
  <script>
  window.yaContextCb.push(() => {
    Ya.Context.AdvManager.render({
      "blockId": "R-A-15188366-1",
      "type": "floorAd",
      "platform": "touch"
    })
  })
  </script>
</body>
<div class="intro-overlay" *ngIf="showIntro">
  <button *ngIf="!isVideoPlaying" class="enter-button" (click)="startVideo()">
    Зайти на сайт
  </button>

  <video #introVideo
         class="intro-video"
         muted
         playsinline
         (ended)="onVideoEnd()"
         [hidden]="!isVideoPlaying">
    <source src="assets/video/intro.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

