<head>
  <!-- Yandex.RTB -->
  <script>window.yaContextCb=window.yaContextCb||[]</script>
  <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
  <script>
  window.yaContextCb.push(() => {
    Ya.Context.AdvManager.render({
      "blockId": "R-A-15188366-1",
      "type": "floorAd",
      "platform": "touch"
    })
  })
  </script>
</body>
<h1>Сквадер(уже меньше фальшифка)</h1>

<div>
  <button class="toggle-comments" (click)="toggleComments()">☬</button>
  <ul [ngClass]="{'comments': true, 'show': showComments}">
    <li *ngFor="let comment of comments; let i = index">
      <strong>{{ comment.author }}</strong>: {{ comment.body }} <button (click)="deleteComment(i)">Удалить</button>
    </li>
  </ul>

  <div>
    <input type="text" [(ngModel)]="newComment.author" placeholder="Имя">
    <textarea [(ngModel)]="newComment.body" placeholder="Комментарий"></textarea>
    <button (click)="addComment()">Отправить</button>
  </div>
</div>
