<body>
  <div class="avatar">
    <img src="/assets/images/170cube.jpg" alt="Avatar">
  </div>
  <div class="container0">
    <h1>
      <img src="/assets/images/sq170.png" alt="170">
    </h1>
  </div>
  <div class="container1">
    <h2>
      <img src="/assets/images/Squad.png" alt="Squad">
    </h2>
  </div>
</body>
<style>
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  .container0 {
    width: 190px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0.25)
  }

  .container1 {
    width: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0.5)
  }

  h2 {
    height: 600px;
    width: 700px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

</style>
